* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.product-card {
    border: 1px solid;
    width: 250px;
    height: 300px;
    text-align: center;
    padding: 15px;
    transition: transform 0.3s ease;
}

.money {
    font-size: 24px;
}

a {
    text-decoration: none;
}

.product-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin: 35px;
}

.tel {
    padding: 0.1px;
}

.product-cards img {
    width: 100%;
    height: 190px;
    object-fit: cover;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
}

.sections a {
    text-decoration: none;
    font-size: 17px;
    color: black;
}

nav {
    background-color: #fac000;
    text-align: center;
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body {
    padding-top: 35px;
}

.product-card:hover {
    transform: scale(1.1);
}

.products {
    margin-top: 20px;
}

.search {
    margin: 20px;
    display: flex;
    justify-content: center;
    gap: 7px;
}

button {
    width: 40px;
    cursor: pointer;
}

button:hover {
    background-color: #c5c6c7;
}

button:active {
    transform: scale(0.95);
}

input {
    height: 25px;
    padding: 7px;
    border-radius: 5px;
}

@media (min-width: 320px) and (max-width: 480px) {
    .product-cards {
        grid-template-columns: repeat(1, 1fr);
    }
    img {
        width: 100%;
        height: 180px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .product-cards {
        grid-template-columns: repeat(2, 1fr);
    }
    img {
        width: 100%;
        height: 350px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .product-cards {
        grid-template-columns: repeat(3, 1fr);
    }
    img {
        width: 100%;
        height: 520px;
    }
}

@media (min-width: 1025px) {
    .product-cards {
        grid-template-columns: repeat(4, 1fr);
    }
    img {
        width: 100%;
        height: 750px;
    }
}