.everything {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 350px;
    justify-content: center;
    align-items: center;
    background-color: #8802a3;
    padding: 30px;
    border-radius: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashboard {
    background-color: #0f0f0f;
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}

.dashboard-items {
    transition: transform 0.3s ease;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dashboard-items:hover {
    transform: scale(1.2);
    background-color: #121212;
}

.dashboard-items a {
    text-decoration: none;
    color: white;
}

.dashboard-items li {
    list-style-type: none;
}

body {
    padding-left: 200px;
    height: 100vh;
    background: url(WhatsApp\ Image\ 2026-05-15\ at\ 19.40.59.jpeg);
    
}

h2 {
    margin-bottom: 40px;
}

button:hover {
    transform: scale(1.1);
}

button:active {
    transform: scale(0.95);
}


a {
    text-decoration: none;
}

body {
    height: 100vh;
    background: #1300ba;
    background: radial-gradient(circle, rgba(19, 0, 186, 1) 0%, rgba(156, 45, 196, 1) 50%);
    padding-left: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

button {
    background: none;
    border: none;
}

.buttons-for-contact {
    display: flex;
    gap: 30px;

}