* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashboard {
    background-color: #0f0f0f;
    width: 200px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}

.dashboard-items {
    transition: transform 0.3s ease;
    padding: 5px;
}

.dashboard-items:hover {
    transform: scale(1.2);
    background-color: #121212;
}

.dashboard-items a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.dashboard-items li {
    list-style-type: none;
}

body {
    padding-left: 200px;
    height: 100vh;
    background: url(WhatsApp\ Image\ 2026-05-15\ at\ 19.40.59.jpeg);
    
}

.welcome {
    font-weight: 550;
    color: white;
    margin: 20px;
}


.Home h1 {
    color: black;
    margin-bottom: 20px;
}

button {
    border-radius: 10px;
    background-color: #0224a1;
    width: 150px;
    height: 45px;
    border: #0224a1;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

button:hover {
    transform: scale(1.1);
}

button:active {
    transform: scale(0.95);
}

.button1 {
    display: flex;
    justify-content: center;
}

.name-of-the-company {
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    margin-bottom: 25px;
}

a {
    text-decoration: none;
}

.name-of-the-company p {
    color: black;
}

.just-name {
    font-size: 30px;
    color: black;
}

@media (min-width: 320px) and (max-width: 480px) {
    .product-cards {
        grid-template-columns: repeat(1, 1fr);
    }
    p {
        font-size: 16px;
    }
    .dashboard {
        width: 80px;
    }
    .dashboard-items a {
        font-size: 11px;
    }
    .Home {
        margin-left: 5px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .product-cards {
        grid-template-columns: repeat(1, 1fr);
    }
    p {
        font-size: 16px;
    }
    .dashboard {
        width: 80px;
    }
    .dashboard-items a {
        font-size: 11px;
    }
    .Home {
        margin-left: 5px;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {
    .product-cards {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (min-width: 1025px) {
    .product-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}