.everything {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 350px;
    justify-content: center;
    align-items: center;
    background-color: #8802a3;
    padding: 30px;
    border-radius: 20px;
}

a {
    text-decoration: none;
}

h2 {
    margin-bottom: 30px;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #1300ba;
    background: radial-gradient(circle, rgba(19, 0, 186, 1) 0%, rgba(156, 45, 196, 1) 50%);
}

img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

button {
    background: none;
    border: none;
}

.buttons-for-contact {
    display: flex;
    gap: 30px;
    
}

