* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashboard {
    background-color: #0f0f0f;
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}

.dashboard-items {
    transition: transform 0.3s ease;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dashboard-items:hover {
    transform: scale(1.2);
    background-color: #121212;
}

.dashboard-items a {
    text-decoration: none;
    color: white;
}

.dashboard-items li {
    list-style-type: none;
}

body {
    padding-left: 200px;
    height: 100vh;
    background: url(WhatsApp\ Image\ 2026-05-15\ at\ 19.40.59.jpeg);
    
}

.welcome {
    font-weight: 550;
    color: white;
    margin: 20px;
}


.Home h1 {
    color: black;
    margin-bottom: 20px;
}

button {
    border-radius: 10px;
    background-color: gold;
    width: 150px;
    height: 45px;
    border: gold;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

button:hover {
    transform: scale(1.1);
}

button:active {
    transform: scale(0.95);
}

.button1 {
    display: flex;
    justify-content: center;
}

.name-of-the-company {
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    margin-bottom: 25px;
}

a {
    text-decoration: none;
}

.name-of-the-company p {
    color: black;
}

.just-name {
    font-size: 30px;
    color: black;
}

.About-us {
    margin-left: 30px;
    margin-bottom: 35px;
}

.About-us ul {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.About-us li {
    list-style-type: none;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #c70606;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    border-radius: 15px;
    transition: transform 0.3s ease;

}

.About-us li:hover {
    transform: scale(1.2);
}

.slider img {
    object-fit: cover;
    width: 20%;
    height: 25vh;
}

.slider {
    display: flex;
    justify-content: center;
}

.button2 button {
    background-color: darkblue;
    width: 50px;
    height: 30px;
}

.button2 {
    display: flex;
    gap: 115px;
    margin-top: 8px;
    margin-bottom: 25px;
    justify-content: center;
}

@media (min-width: 320px) and (max-width: 480px) {
    .product-cards {
        grid-template-columns: repeat(1, 1fr);
    }
    .contact p {
        font-size: 16px;
    }
    .dashboard {
        width: 100%;
        height: 60px;
        top: 0;
        left: 0;
    }
    .dashboard-items a {
        font-size: 11px;
    }
    .just-name p {
        font-size: 24px;
    }
    body {
        padding-top: 60px;
    }
    ul {
        display: flex;
        gap: 40px;
    }

    .name-of-the-company {
        margin-left: auto;
        margin-right: auto;
    }
    .slider img {
        width: 100px;
        height: 65px;
    }

}

@media (min-width: 481px) and (max-width: 767px) {
    .product-cards {
        grid-template-columns: repeat(1, 1fr);
    }
    .contact p {
        font-size: 16px;
    }
    .dashboard {
        width: 100%;
        height: 60px;
        top: 0;
        left: 0;
    }
    .dashboard-items a {
        font-size: 11px;
    }
    .just-name p {
        font-size: 24px;
    }
    
    body {
        padding-top: 60px;
    }
    ul {
        display: flex;
        gap: 40px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .product-cards {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (min-width: 1025px) {
    .product-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}