* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashboard {
    background-color: #0f0f0f;
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}

.dashboard-items {
    transition: transform 0.3s ease;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dashboard-items:hover {
    transform: scale(1.2);
    background-color: #121212;
}

.dashboard-items a {
    text-decoration: none;
    color: white;
}

.dashboard-items li {
    list-style-type: none;
}

.Products,
.search-filter {
    margin-left: 200px;
}

.product-card {
    border: 1px solid;
    width: 250px;
    height: 300px;
    text-align: center;
    padding: 15px;
    transition: transform 0.3s ease;
    overflow: hidden;
}

.product-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.product-cards img {
    width: 100%;
    height: 190px;
    object-fit: cover;
}

a {
    text-decoration: none;
}

.money {
    font-size: 22px;
}

.search-products {
    display: flex;
    justify-content: right;
    margin-right: 25px;
    gap: 20px;
}

input {
    padding-left: 5px;
    padding-right: 5px;
}

.search-products button {
    font-size: 22px;
    background: none;
    border: none;
    color: #424242;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.search-products button:hover {
    transform: scale(1.2);
}

.product-card:hover {
    transform: scale(1.1);
}

.name-of-the-company {
    display: flex;
    gap: 10px;
    margin: 20px;
}

.name-of-the-company img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.product-card button {
    border-radius: 10px;
    padding: 5px;
    transition: transform 0.3s ease;
    background-color: gold;
    border: gold;
    cursor: pointer;
}

.product-card button:hover {
    transform: scale(1.2);
}

.product-card button:active {
    transform: scale(0.95);
}

@media (min-width: 320px) and (max-width: 480px) {
    .product-cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .search-products {
        display: flex;
        justify-content: center;
    }

    p {
        font-size: 16px;
    }

    .dashboard {
        width: 100%;
        height: 60px;
        top: 0;
        left: 0;
    }

    .product-cards {
        margin-left: auto;
        margin-right: auto;
    }

    .dashboard-items a {
        font-size: 11px;
    }

    .Home {
        margin-left: 5px;
    }

    .product-cards {
        margin-right: 20px;
    }

    body {
        padding-top: 60px;
    }

    ul {
        display: flex;
        gap: 40px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .product-cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .search-products {
        display: flex;
        justify-content: center;
    }

    p {
        font-size: 16px;
    }


    .product-cards {
        margin-left: auto;
        margin-right: auto;
    }

    .dashboard {
        width: 100%;
        height: 60px;
        top: 0;
        left: 0;
    }

    .dashboard-items a {
        font-size: 11px;
    }

    .Home {
        margin-left: 5px;
    }

    .product-cards {
        margin-right: 20px;
    }

    body {
        padding-top: 60px;
    }

    ul {
        display: flex;
        gap: 40px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .product-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1025px) {
    .product-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}